<h1>Log In</h1>

<form action="<%= session_index_url %>" method="post">
  <%= valid_authenticity %>

  <label for="email">Email:</label>
  <input id="email" type="text" name="user[email]">
  <br>

  <label for="password">Password:</label>
  <input id="password" type="password" name="user[password]">
  <br>

  <input type="submit" value="Login">

</form>
