<h1>Enter New Band Name</h1>
<form action="<%= bands_url %>" method="post">
  <%= auth_token %>
  <label for="band-name">Band Name</label>
  <input id="band-name" type="text" name="band[name]" value="">
  <input type="submit" value="Submit">
</form>
